  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/static/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">UNEG Fleet</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/static/assets/img/default-driver.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block" style="color:white">{{ current_user.name }} {{current_user.lastname}}</a>
          {%for role in current_user.roles%}
            <p class="muted-text" style="color:gray">{{role.name}}</p>
          {%endfor%}
        </div>
      </div>

     

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview ">
            <a href="{{url_for('home_bp.dashboard')}}" class="nav-link {% if 'dashboard' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard                
              </p>
            </a>            
          </li>
          
          
          {% for role in current_user.roles%}
            
            {%if 'admin'==role.name or 'personal' == role.name%}
            <li class="nav-item has-treeview ">
              <a href="{{ url_for('drivers_bp.home') }}" class="nav-link {% if 'drivers' in segment %} active {% endif %}">
                <i class="nav-icon fas fa-user-friends"></i>
                <p>
                  Conductores                
                </p>
              </a>            
            </li>
            {%endif%}
            {%if 'admin'==role.name or 'operador' == role.name%}
            <li class="nav-item">
              <a href="{{ url_for('vehicles_bp.home') }}" class="nav-link {% if 'vehicles' in segment %} active {% endif %}">
                <i class="nav-icon fas fa-car"></i>
                <p>
                  Vehículos                
                </p>
              </a>
            </li>
            <li class="nav-item has-treeview ">
              <a href="{{ url_for('trackers_bp.home') }}" class="nav-link {% if 'trackers' in segment %} active {% endif %}">
                <i class="nav-icon fas fa-location-arrow"></i>
                <p>
                  Trackers                  
                </p>
              </a>              
            </li>            
            {%endif%}
            {%if 'admin'==role.name%}
              <li class="nav-item has-treeview {% if 'layout' in segment %} menu-open {% endif %}">
                <a href="{{ url_for('users_bp.home') }}" class="nav-link {% if 'users' in segment %} active {% endif %}">
                  <i class="nav-icon fas fa-user-circle"></i>
                  <p>
                    Usuarios              
                  </p>
                </a>        
              </li>                    
            {%endif%}
          {%endfor%}                              
          <li class="nav-item has-treeview ">
            <a href="#" class="nav-link {% if 'ui-' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-chart-bar"></i>
              <p>
                Reportes            
              </p>
            </a>            
          </li>
          
          <li class="nav-item has-treeview {% if 'tables-' in segment %} menu-open {% endif %}">
            <a href="{{url_for('auth_bp.logout')}}" class="nav-link {% if 'tables-' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Logout                
              </p>
            </a>            
          </li>                                        
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  